<div id="register">
  <div>Inscription</div>
  <input type="text" name="registerUsername" id="registerUsername" placeholder="Nom d'utilisateur" [(ngModel)]="registerUsername">
  <input type="text" name="registerEmail" id="registerEmail" placeholder="exemple@mail.com" [(ngModel)]="registerEmail">
  <input type="password" name="registerPassword" id="registerPassword" placeholder="Mot de passe" [(ngModel)]="registerPassword">
  <input type="password" name="registerPasswordConfirm" id="registerPasswordConfirm" placeholder="Confirmer le mot de passe" [(ngModel)]="registerPasswordConfirm">
  <button (click)="register()">S'inscrire</button>
</div>