/* You can add global styles to this file, and also import other style files */

body{
    background:linear-gradient(to bottom, #494f5b, #322e43) fixed;
}

hr{
    border-color:#51516c;
}

.spacer{
    flex:1;
    width:100%;
    border:none;
}

.orange{
    background-color:#45ff73;
    display:inline-block;
    border-radius:3px;
    color:black;
    font-weight:bold;
    padding:0px 4px;
}