<div class="post" *ngIf="post != null">

  <!-- Affichage du commentaire principal du post -->

  <!-- Auteur, date, hub -->
  <div class="postHeader">
    <div>{{post.mainComment!.username}}</div>
    <div class="postDate">• {{post.mainComment!.date | date:"dd MMMM yyyy hh:mm:ss":"":"fr"}}</div>
    <div style="cursor:pointer;" [routerLink]="['/postList/hub', post.hubId]">({{'dans ✦ ' + post.hubName}})</div>
    <div class="spacer"></div>

    <!-- Petit menu caché pour modifier le post -->
    <div class="editMenu" (click)="editMenu = !editMenu">
      <button><fa-icon [icon]="faEllipsis"></fa-icon></button>
      <div *ngIf="editMenu">
        <div *ngIf="isAuthor" (click)="toggleMainCommentEdit = true">Modifier</div>
        <div *ngIf="isAuthor" (click)="deleteComment()">Supprimer</div>
        <div *ngIf="!isAuthor">Signaler</div>
      </div>
    </div>
  </div>

  <!-- Titre du post -->
  <div class="postTitle">
    {{post.title}}
  </div>

  <!-- Texte (et éventuellement images) du commentaire principal du post -->
  <div class="postContent">
    <div *ngIf="!toggleMainCommentEdit">{{post.mainComment!.text}}</div>
    <textarea id="commentTextEdit" *ngIf="toggleMainCommentEdit" type="text" [(ngModel)]="newMainCommentText"></textarea>
    <div class="commentPictures">
      <!-- Des images pourraient être affichées ici -->
      <img *ngFor="let picId of picIdList" alt="picId" [src]="'https://localhost:7007/api/Comments/GetCommentPicture/sm/' + picId">
    </div>
  </div>

  <!-- Boutons pour voter / modifier le commentaire principal du post -->
  <div class="postFooter">
    <div class="score">
      <button [class]="post.mainComment!.upvoted ? 'upvoted' : ''" (click)="upvote()"><fa-icon
          [icon]="faUpLong"></fa-icon></button>
      <div>{{post.mainComment!.upvotes - post.mainComment!.downvotes}}</div>
      <button [class]="post.mainComment!.downvoted ? 'downvoted' : ''" (click)="downvote()"><fa-icon
          [icon]="faDownLong"></fa-icon></button>
    </div>
    <div>
      <button><fa-icon [icon]="faMessage"></fa-icon> {{post.mainComment!.subCommentTotal}}</button>
    </div>
    <div>
      <input *ngIf="toggleMainCommentEdit" type="file" accept="images/*" name="mainCommentPictures">
    </div>
    <div>
      <button *ngIf="toggleMainCommentEdit" (click)="toggleMainCommentEdit = false">Annuler</button>
    </div>
    <div>
      <button *ngIf="toggleMainCommentEdit" (click)="editMainComment()">Modifier</button>
    </div>
  </div>

  <!-- Trier les commentaires du post par nouveauté / votes -->
  <div id="sortOptions">Trier par :
    <select name="commentSort" id="commentSort" [(ngModel)]="sorting" (change)="toggleSorting()">
      <option value="popular">Populaire</option>
      <option value="new">Nouveau</option>
    </select>
  </div>

  <!-- Boîte pour créer un commentaire directement associé au commentaire principal de ce post -->
  <div id="commentBox">
    <input type="text" name="newComment" id="newComment" placeholder="Ajouter un commentaire" [(ngModel)]="newComment">
    <div *ngIf="displayInputFile" class="commentPictureAdd">
      <input #PicViewChild type="file" accept="images/*" name="commentPictures" multiple>
    </div>
    <button (click)="displayInputFile = !displayInputFile"><fa-icon [icon]="faImage"></fa-icon></button>
    <button (click)="createComment()">Ajouter</button>
  </div>

  <!-- Liste de commentaires -->
  <div class="comment" *ngFor="let c of post.mainComment!.subComments">
    <app-comment [comment]="c"></app-comment>
  </div>

</div>