.title{
    font-weight:bold;
    margin-bottom:20px;
    font-size:1.5em;
}

.report{
    position:relative;
    margin-bottom:10px;
}

.delete{
    position:absolute;
    top:5px;
    right:5px;
}

.delete button{
    color:white;
    background-color:crimson;
    padding:5px 10px;
    border:none;
    border-radius:10px;
    font-weight:bold;
    cursor:pointer;
}